body, html{
    height: 100%;
    background-color: #c89666;
    display: grid;
    font-family: 'Times New Roman', Times, serif;
}

* {
    margin: 0;
    padding: 0;
}

/* set menu at the top center of browser */
ul {
    top: 0;
    text-align: center;
    background-color: #2D545E;
    list-style: none;
}

li{
    display: inline-block;
    padding: 2%;
}

a {
    text-decoration: underline;
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

/* container of p and greeting */
.text{
    /* set up text */
    position:relative;
    text-align: center;
    color: black;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    outline: auto;
    padding: 2%;
    line-height: 50px;
    background-color: #e1b382;
}

.text h1 {
    font-size: 70px;
}

.text p {
    font-size: 20px;
}

.text h3 { 
    font-size: 30px;
}

/* change position of text based on laptop screen height */
@media screen and (max-height: 599px) {
    .text {
        top: 55%;
        left: 50%;
        transform: translate(-50%, -40%);
    }
}

/* change format of text box based on large phone screen size */
@media screen and (max-width: 425px){
    .text {
        width: 70%;
        padding: 4%;
        top: 44%;
    }
}

/* change format of text box based on small phone screen size */
@media screen and (max-width: 320px){
    .text {
        padding-top: 6%;
    }
}

/* change format of text box based on tablet screen size */
@media screen and (max-width: 768px) {
    .text {
        top: 45%;
        left: 50%;
        width: 70%;
    }
}