body, html{
    height: 100%;
    background-color: rgba(238, 215, 182, 0.815);
}

* {
    margin: 0;
    padding: 0;
}

/* set menu at the top center of browser */
ul {
    top: 0;
    text-align: center;
    color: black;
    list-style: none;
}

li{
    display: inline-block;
    padding: 2%;
}

a {
    text-decoration: underline;
    color: black;
}

img {
    width: 50%;
    height: 599px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* container of p and greeting */
.text{
    /* set up text */
    position:relative;
    text-align: center;
    color: black;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    /* set up background image */
    /* background-image: url("images/flowers.png");
    background-position-x: center;
    background-position-y: top;
    background-size: contain; */
}