body, html{
    height: 100%;
    background-color: #c89666;
    display: block;
    padding-top: 0%;
}

.menubar {
    text-align: center;
    background-color: #2D545E;
    padding-bottom: 2%;
}

h1 {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}

.menubar a {
    color: antiquewhite;
    font-size: 30px;
}

.list {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 3rem;
}

.list ul {
    list-style-type: none;
}

.list li {
    padding-top: 5%;
    padding-bottom: 5%;
}