body, html{
    height: 100%;
    background-color: #c89666;
    display: block;
    padding-top: 0%;
}

/* set menu color and position */
.menubar {
    text-align: center;
    background-color: #2D545E;
    padding-bottom: 2%;
    margin-bottom: 2%;
}

h1 {
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
}

.menubar a {
    color: antiquewhite;
    font-size: 30px;
}

/* set image-links position for large screen e.g. monitor */
.projects {
    width: 70%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

/* set size and margin of images */
.projects img {
    height: 400px;
    width: 600px;
    margin: 2%;
}

/* center image-links in one column for laptop size screen */
@media screen and (max-height: 599px) {
    .projects{
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .projects img {
        height: 150px;
        width: 250px;
    }

    .projects {
        width: 50%;
    }
}